<footer>
    <p>&copy; 2023 Bakery</p>
    <section class="phones">
        {{#each numeros}}
                <a href="tel:+1234567890">{{num}}</a>
        {{/each}}
    </section>
    <nav>
        <ul>
            {{#each paginas}}
            <li><a href="#">{{texto}}</a></li>
            {{/each}}
        </ul>
    </nav>
</footer>